.container {
  width: 750px;
  margin: 50px auto;
  text-align: center;
  font-family: sans-serif;
}

.stepper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
  position: relative;
}

.step {
  display: flex;
  align-items: center;
  gap: 6px;
  position: relative;
}

.circle {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
  position: relative; /* needed for ::after */
  transition: all 0.3s ease;
}

/* Inner white circle for active/normal step only */
.circle:not(.completed)::after {
  content: "";
  position: absolute;
  width: 14px;   /* half of outer circle */
  height: 14px;
  border-radius: 50%;
  background-color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
}

.circle.active {
  background-color: #007bff;
}

.circle.completed {
  background-color: #007bff;
  font-size: 16px;
  color: white; /* checkmark will be visible */
  z-index: 1;
}


.label {
  font-size: 13px;
  color: #333;
  /* text-align: center; */
  line-height: 1.2; /* controls spacing between two lines */
  text-align: left;
}


.line {
  flex: 1;
  height: 2px;
  background-color: #ccc;
  margin: 0 5px;
  transition: 0.3s;
  transform: translateY(-2px);
}

.line.filled {
  background-color: #007bff;
}

.form-section {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
}

.form-section input {
  width: 80%;
  margin: 10px 0;
  padding: 8px;
}

.buttons {
  margin-top: 20px;
}

button {
  margin: 0 5px;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background: #007bff;
  color: white;
}

button:disabled {
  background: #ccc;
  cursor: not-allowed;
}

/* .section {
  border: 1px solid #ddd;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 8px;
  text-align: left;
} */

.section h4 {
  margin-bottom: 10px;
  font-size: 14px;
  color: #007bff;
}

.section input {
  width: 95%;
  margin: 6px 0;
  padding: 6px 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
